.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.form-control {
    border-radius: 100px; 
    width: 100%;/* Define o arredondamento das bordas */
    /* animation: slide 5s infinite alternate; */
}

.btn {
    width: 100%; /* Faz com que o botão tenha a mesma largura dos campos */
    border-radius: 100px; /* Define o arredondamento das bordas */
    /* animation: rotate 2s infinite linear; */
}
