.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
    
    height: 100%;
}

.form-control {
    border-radius: 10px;
}

.btn {
    width: 100%;
    border-radius: 10px;
}


/* .zoom-animation {
    animation: zoom 1s infinite;
    transform-origin: center;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
} */

/* .blink-animation {
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        background-color: red;
    }
    33% {
        background-color: green;
    }
    66% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
} */

